body {
   font-family: 'Open Sans';
   color: black;
   min-height: 100%;
}

.time-field{
   font-size: 40px;
}

#taskInput {
  margin-bottom: 5px;
}

.center {
    margin-top: 15%;
}

li {
  background: lightgray;
  height: 40px;
  padding-left: 5px;

}

.remove {
  text-align: right;
}

li:nth-child(odd) {
  background: #B0B0B0;
}
